<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Dreams Template">
    <meta name="keywords" content="Dreams, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MOTOR MANTHRA</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Header Section Begin -->
    <header class="header header--normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><h6 style="font-weight: bold;">MOTOR MANTHRA</h6></a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/admin">>BACK</a></li>

                        </ul>
                    </nav>
                </div>

            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->



    <!-- Contact Section Begin -->
     <section class="contact spad">
        <div class="container">
            <div class="column">
                <div class="col-lg-8 row-md-5">
                    <div class="contact__form">
                        <h4>Registered Students</h4>

                        {% comment %} <table class="table table-bordered table-striped table-hover">

<th class="info" style="background-color: #ffc107;">Student Name</th>
<th class="info" style="background-color: #ffc107;">Photo</th>
<th class="info" style="background-color: #ffc107;">Contact Number</th>
<th class="info" style="background-color: #ffc107;">Address</th>
<th class="info" style="background-color: #ffc107;">Email</th>



{% for dri in st_view  %}

<tr>
    <td>{{ dri.user.first_name }}</td>
    <td><img src="{{ dri.image.url }}" style="width: 115px; height: 115px;"></td>
    <td>{{ dri.phone }}</td>
    <td>{{ dri.address }}</td>
    <td>{{ dri.user.email }}</td>



</tr>
{% endfor %}
</table> {% endcomment %}
            {% for dri in veh_view  %}
             {% comment %} <div class="column">
               
                
                <div class="card" style="width: 25rem;">
                    <img src="{{ dri.student_id.image.url }}" style="width: 250px; height: 265px;"class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ dri.student_id.user.first_name }}</h5>
                    
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ dri.package.name }}</li>
                    <li class="list-group-item">{{ dri.package.duration }}</li>
                    <li class="list-group-item">{{ dri.status }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-success">View Tutor</a>
                        <a href="#" class="btn btn-primary">Allot Tutor</a>
                    </div>
                </div>
            </div>
        </div>  {% endcomment %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ dri.student_id.image.url }}" style="width: 250px; height: 265px;" class="card-img" alt="...">
                    </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ dri.student_id.user.first_name }}</h5>
                        <p class="card-text">{{ dri.package.name }}</p>
                        <p class="card-text">{{ dri.package.duration }}</p>
                        <p class="card-text">{{ dri.status }}</p>
                            <form action="#" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <select class="btn btn-warning" aria-label="Default select example" name="tid">
                                {% comment %} {% for dri in tutor_view  %} {% endcomment %}
                        
                                <option selected>---Select the Tutor---</option>
                                {% for r in tutor_view  %}<option value="{{ r.id }}">{{ r.user.first_name }}</option>{% endfor %} 

                                </select><br>
                                {% comment %} <div class="card-body"> {% endcomment %}
                                
                                        {% comment %} <a href="#" class="btn btn-success">View Tutor</a> {% endcomment %}
                                        {% comment %} <a href="allot_tutor?id={{ dri.student_id.user_id}}" class="btn btn-primary">Allot Tutor</a><br> {% endcomment %}
                                        <input type="hidden" value="{{ dri.student_id.id}}" name="studid">
                                        <input type="hidden" value="{{ dri.package.id}}" name="packageid">

                                        <input type="submit" value="Allot" class="btn btn-danger">
                                {% comment %} </div> {% endcomment %}
                            </form>
                    
                    </div>
                </div>
            </div>
        </div>
            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- Contact Section End -->
   
</body>

</html>