<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Dreams Template">
    <meta name="keywords" content="Dreams, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MOTOR MANTHRA</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Header Section Begin -->
    <header class="header header--normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><h6 style="font-weight: bold;">MOTOR MANTHRA</h6></a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/tutor">>BACK</a></li>

                        </ul>
                    </nav>
                </div>

            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->



    <!-- Contact Section Begin -->
     <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-15 col-md-20">
                    <div class="contact__form">
                        <h4>Take Attendance</h4>
                     
                        
                            <div>
                                <table class="table table-bordered table-striped table-hover">

                                    
                                   <th class="info" style="background-color: #ffc107;">Student Name</th>
                                    <th class="info" style="background-color: #ffc107;">Tutor Name</th>
                                    <th class="info" style="background-color: #ffc107;">Date</th>

                                    <th class="info" style="background-color: #ffc107;">Total Class</th>
                                    {% comment %} <th colspan="2" class="info" style="background-color: #ffc107;">Attendence View</th> {% endcomment %}
                                  
                                    

                                    <th class="info" style="background-color: #ffc107;">Present Attendence</th>                        
                                        <th class="info" style="background-color: #ffc107;">Absent Attendence</th>
                                        <th class="info" style="background-color: #ffc107;">Status</th>
                                        <th class="info" style="background-color: #ffc107;">Attendence Taking</th>
                                        <th class="info" style="background-color: #ffc107;">Operation</th>

                                    {% for dri in cd  %}
                                    {% for att in at  %}
                                    <tr>
                                        <td>{{ dri.user.user.first_name }}</td>
                                        <td>{{ dri.selected_tutor.user.first_name }}</td>
                                        <td><h6><b>Class Starting Date:</b></h6>{{ dri.fromdate }}<br>
                                            <h6><b>Class Ending Date:</b></h6>{{ dri.Todate }}</td>
                                            
                                        <td>{{ dri.package_id.duration_days }}</td>
                                        
                                    
                                        
                                   
                                    
                                        
                                        <td>{{ att.attendence_p }}</td>
                                        <td>{{ att.attendence_a }}</td>
                                        
                                        <td>{{ att.status }}</td>
                                        {% comment %} {% if att.status != "c" %} {% endcomment %}
                                        <td><a href="attpre?id={{ dri.id}}" class=" btn btn-success">P</a>
                                            <a href="attabs?id={{ dri.id}}" class=" btn btn-danger">A</a></td>
                                            <form action="#" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <td> <input type="hidden" name="pre" value="{{ att.attendence_p }}"><br>
                                            <input type="hidden" name="abs" value="{{ att.attendence_a }}"><br>
                                            <input type="hidden" name="toc" value="{{ dri.package_id.duration_days }}"><br>
                                            <input type="hidden" name="id" value="{{ att.id}}"><br>

                                             <button type="submit" class=" btn btn-primary">Update</button></td>
                                            
                                            </form>
                                            {% comment %} {% endif %} {% endcomment %}
                                    </tr>
                                    {% endfor %}
                                    {% endfor %}

                                    {% comment %} {% for dri in cd  %}
                                    {% for att in at  %} {% endcomment %}

                                    {% comment %} <tr>
                                        <th class="info" style="background-color: #ffc107;">Student Name</th>
                                        <td>{{ dri.user.user.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <th class="info" style="background-color: #ffc107;">Tutor Name</th>
                                        <td>{{ dri.selected_tutor.user.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <th class="info" style="background-color: #ffc107;">Date</th>
                                        <td><h6><b>Class Starting Date:</b></h6>{{ dri.fromdate }}<br>
                                            <h6><b>Class Ending Date:</b></h6>{{ dri.Todate }}</td>
                                    </tr>
                                    <tr>
                                        <th class="info" style="background-color: #ffc107;">Total Class</th>
                                        <td>{{ dri.package_id.duration_days }}</td>
                                    </tr>
                                    <tr>
                                        <th class="info" style="background-color: #ffc107;">Present Attendence</th>
                                        <td>{{ att.attendence_p }}</td>
                                    </tr>
                                    <tr>
                                        <th class="info" style="background-color: #ffc107;">Absent Attendence</th>
                                        <td>{{ att.attendence_a }}</td>
                                    </tr>
                                    <tr>
                                        <th class="info" style="background-color: #ffc107;">Address</th>
                                        <td>{{ dri.address}}</td>
                                    </tr>
                                    <tr>
                                        <th class="info" style="background-color: #ffc107;">District</th>
                                        <td>{{ dri.district}}</td>
                                    </tr> {% endcomment %}

                                    
                                    {% comment %} {% for dri in cd  %}
                                    {% for att in at  %}

                                    
                                        <div class="card-body">
                                          <h5 class="card-title">{{ dri.user.user.first_name }}</h5>
                                          <p class="card-text"><h6><b>Class Starting Date:</b></h6>{{ dri.fromdate }}<br>
                                            <h6><b>Class Ending Date:</b></h6>{{ dri.Todate }}</p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                          <li class="list-group-item">Total Class: {{ dri.package_id.duration_days }}</li>
                                          <li class="list-group-item">Present Attendence:{{ att.attendence_p }} :- <a href="attpre?id={{ dri.id}}" class=" btn btn-success">P</a></li>
                                          <li class="list-group-item">Absent Attendence :{{ att.attendence_a }} :- <a href="attabs?id={{ dri.id}}" class=" btn btn-danger"> A</a></li>
                                        </ul>
                                        <div class="card-body">
                                            <form action="#" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                            <input type="hidden" name="pre" value="{{ att.attendence_p }}"><br>
                                            <input type="hidden" name="abs" value="{{ att.attendence_a }}"><br>
                                            <input type="hidden" name="toc" value="{{ dri.package_id.duration_days }}"><br>
                                            <input type="hidden" name="id" value="{{ att.id}}"><br>

                                             <button type="submit" class=" btn btn-primary">Update</button>
                                            
                                            </form>
                                        </div>
                                      </div>


                                      {% endfor %}
                                      {% endfor %} {% endcomment %}


                                    </table>
                            </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section> 


</body>

</html>