<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Dreams Template">
    <meta name="keywords" content="Dreams, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MOTOR MANTHRA</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Header Section Begin -->
    <header class="header header--normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><h6 style="font-weight: bold;">MOTOR MANTHRA</h6></a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/tutor">>BACK</a></li>

                        </ul>
                    </nav>
                </div>

            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->



    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-5">
                    <div class="contact__form">
                        <h4>Apply For Leave</h4>
                        <form action="#" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                 
                                 
                                    
                                  <div class="col-lg-7">
                                    <label style="color:green;">Start Date:</label>
                                    <input type="date" name="s_date" style="border: 3px solid red" placeholder="Enter the Date" required/>
                                    
                                  </div>
                                  <div class="col-lg-7">
                                    <label style="color:green;">End Date:</label>
                                    <input type="date" name="e_date" style="border: 3px solid red" placeholder="Enter the Date" required/>
                                    <div class="col-lg-15">
                                        <label style="color:green;">Select the Leave Type:</label>
                                        <select name="leave_type" style="border: 3px solid red">
                                            
                                            <option>Casual Leave</option>
                                            <option>Vacation Leave</option>
                                            <option>Sick Leave</option>
                                            <option>Family and Medical Leave</option>
                                            <option>Other</option>
                                          
    
                                        </select>
                                    </div>
                                  </div>
                                  <div class="col-lg-7">
                                    
                                    <textarea placeholder="Enter the Reason" style="border: 3px solid red" name="Reason"></textarea>
                                    </div>

                                <div class="col-lg-7">
                                <button type="submit" class="btn btn-success">Request a Leave</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->


</body>

</html>